.sectionHeader {
  margin-top: var(--dp__24);
}

.container {
  display: flex;
  margin: auto calc(-1 * var(--dp__16));
  padding: var(--dp__8);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 var(--dp__8);
}

.item {
  padding: var(--dp__8);
  flex-shrink: 0;
  scroll-snap-align: start;
}

.item__imgContainer {
  height: 22rem;
  aspect-ratio: var(--backdrop_aspect_ratio);
  position: relative;
  border-radius: var(--dp__8);
  background-color: var(--colors__placeholder);
  box-shadow: var(--shadow__2dp);
  overflow: hidden;
}

.item__imgContainer_poster {
  aspect-ratio: var(--poster_aspect_ratio);
}
