.item {
  padding: var(--dp__8);
  flex-shrink: 0;
  border-radius: var(--dp__8);
  scroll-snap-align: start;
}

.text {
  display: inline-block;
  padding: var(--dp__16);
  border-radius: var(--dp__8);
  box-shadow: var(--shadow__2dp);
  background-color: var(--colors__background_dark);
  font: var(--fonts__m);
  color: var(--colors__font_dark);
}
