.wrapper {
  width: 100%;
  position: relative;
}

.input {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: var(--dp__16);
  border-radius: var(--dp__4);
  background-color: var(--colors__background_medium);
  outline: none;
  box-shadow: none;
  font: var(--fonts__m);
  color: inherit;

  &::placeholder {
    color: var(--colors__font_light);
    opacity: 1;
  }

  :global(.dark) & {
    background-color: var(--colors__background_very_dark);
  }
}

.input_withLeftIcon {
  padding-left: var(--dp__48);
}

.input_withRightIcon {
  padding-right: var(--dp__48);
}

.iconContainer {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  color: inherit;
  pointer-events: none;
  user-select: none;
}

.iconContainer_left {
  left: var(--dp__16);
}

.iconContainer_right {
  right: var(--dp__16);
}
