.container {
  margin-top: calc(-1 * var(--dp__16));
  padding-top: var(--dp__32);
  padding-bottom: calc(var(--dp__64) + var(--tabBarMinHeight));
  flex-grow: 1;
  position: relative;
  border-top-left-radius: var(--dp__16);
  border-top-right-radius: var(--dp__16);
  background-color: var(--colors__background_light);
  box-shadow: var(--shadow__16dp);

  &:before {
    content: "";
    display: block;
    width: var(--dp__32);
    height: 0.2rem;
    margin: auto;
    position: absolute;
    top: 0.6rem;
    left: 0;
    right: 0;
    border-radius: 0.2rem;
    background-color: var(--colors__background_dark);
  }

  :global(.dark) &:before {
    background-color: var(--colors__background_very_dark);
  }

  :global(.dark) & {
    background-color: var(--colors__background_dark);
  }
}

.tagline {
  margin-top: var(--dp__16);
  font: var(--fonts__header_s);
}

.overview {
  margin-top: var(--dp__8);
}
