.card {
  display: flex;
  padding: var(--dp__8);
  border-radius: var(--dp__8);
  background-color: var(--colors__background_light);
  box-shadow: var(--shadow__2dp);
  color: var(--colors__font_dark);

  :global(.dark) & {
    background-color: var(--colors__background_very_dark);
    color: var(--colors__font_light);
  }
}

.poster {
  min-width: 7rem;
}

.content {
  min-width: 0;
  margin-left: var(--dp__8);
  padding: var(--dp__8) 0;
  flex: 1;
}

.icon {
  width: var(--dp__8);
  margin: 0 var(--dp__8);
  transform: rotate(180deg);
  color: var(--colors__background_dark);

  :global(.dark) & {
    color: var(--colors__font_extra_light);
  }
}
